@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #0d0d0d;
  color: #fff; /* Setting text color for the whole body */
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
}

.button-gradient-border {
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(
      to right,
      rgba(3, 255, 163, 1) 0%,
      rgba(127, 86, 217, 1) 100%
    )
    66;
}

.shadow-drop {
  box-shadow: 0px 4px 12.6px rgba(189, 254, 28, 0.16);
}
.shadow-drop2 {
  box-shadow: 0px 0px 5.5px 0px rgba(3, 255, 163, 0.75);
}

/* section {
  max-width: 100%;
  margin: 3rem auto;
  padding: 0 1.5rem;
} */
