@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Guaruja+Neue:wght@400;700&display=swap");

:root {
  --font-guaruja: "Guaruja Neue", sans-serif;
}

body {
  background: #0d0d0d;
  color: #fff;
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
  font-family: Guaruja Neue;
}

body,
.dashboard-color {
  background: #131313;
  color: #fff;
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
}

.border-gradient {
  border: 2px solid;
  border-image: linear-gradient(
    to right,
    rgba(189, 254, 28, 0.9),
    rgba(37, 184, 222, 0.9)
  );
  border-image-slice: 3;
  border-radius: 20px;
  padding: 10px 20px 5px;
}

.first-icon {
  border: 1px; /* Replace with your desired color */
  border-color: #707070; /* Set the border color */
}

.bg-toggle-off {
  background-color: #03ffa3;
}
.bg-toggle-on {
  background-color: #545454;
}

.custom-input {
  width: 397px;
  height: 40px;
  border-radius: 66px;
  background-color: #131313;
  color: white;
  padding: 0 15px;
}

.custom-input2 {
  width: 415.05px;
  height: 40px;
  border-radius: 66px;
  background-color: #0d0d0d;
  border-width: 1px;
  border-color: #363636;
  color: white;
  padding: 0 15px;
}

.text-input {
  width: 383px;
  height: 60px;
  border-radius: 15px;
  background-color: #0d0d0d;
  color: #302d2d;
  padding: 0 15px;
  font-style: italic;
  outline: 0;
}

@media (max-width: 768px) {
  .text-input {
    width: 336px;
  }
}
.text-input3 {
  width: 450px;
  height: 35px;
  border-radius: 8px;
  border-color: #363636;
  border: 2px;
  background-color: #0d0d0d;
  color: #302d2d;
  padding: 0 15px;
  font-style: italic;
  outline: 0;
}

select {
  background-color: #1d1d1d;
  color: white;
  border: none;
  outline: none;
  padding: 8px;
  border-radius: 8px;
  /* Removes the default dropdown arrow */
}

select option {
  background-color: #1d1d1d; /* Ensures the option background matches the select background */
  color: white;
}

select option:hover {
  background-color: #4b5563; /* Tailwind's gray-700 */
}

/* carlendar styling */

.custom-calendar .rdp-day {
  width: 34px;
  height: 34px;
  background-color: #242424;
  border: 0.75px solid #272727;
}

.custom-calendar .rdp-day_selected,
.custom-calendar .rdp-day:hover {
  background-color: #727272;
  border-color: #272727;
}

.custom-calendar .rdp-nav button {
  background-color: transparent;
  opacity: 0.5;
}

.custom-calendar .rdp-nav button:hover {
  opacity: 1;
}

.custom-calendar .rdp-caption_label {
  font-size: 14px;
  font-weight: normal;
}

.text-input2 {
  width: 315px;
  height: 50px;
  border-radius: 15px;
  background-color: #0d0d0d;
  color: #302d2d;
  border-color: #272727;
  border-width: 2px;
  padding: 0 15px;
  font-style: italic;
  outline: 0;
}

.button-gradient-border {
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(
      to right,
      rgba(3, 255, 163, 1) 0%,
      rgba(127, 86, 217, 1) 100%
    )
    66;
}

.shadow-drop {
  box-shadow: 0px 4px 12.6px rgba(189, 254, 28, 0.16);
}
.shadow-drop2 {
  box-shadow: 0px 0px 5.5px 0px rgba(3, 255, 163, 0.75);
}

/* section {
  max-width: 100%;
  margin: 3rem auto;
  padding: 0 1.5rem;
} */

/* .border-gradient-active {
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(
      to right,
      rgba(3, 255, 163, 1) 0%,
      rgba(127, 86, 217, 1) 100%
    )
    66;
} */

/* Style the autofill suggestions */
input::-webkit-autofill {
  background-color: black !important;
  color: white !important;
}

input::-webkit-autofill:hover {
  background-color: #333 !important;
}

input:-webkit-autofill::first-line {
  color: white !important;
}

@media (max-width: 768px) {
  .text-input {
    width: 306px;
  }
}
